body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

hr{
    width: 700px;
    border-top: 2px solid royalblue;
}

h3{
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    color: royalblue;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 90px;
    cursor: pointer;
}

.container{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    'numpad board'
    'button button';
    align-items: center;
    row-gap: 20px;
    column-gap: 50px;
    margin: auto;
}


/* board */
#board{
    grid-area: board;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cell{
    width: 48px;
    height: 48px;
    border: 1px dotted gray;

    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-selected{
    background-color: lightgray;
}
/*TODO: legyen jobb a kijelölés, színek keresése */

.horizontal-border{
    border-bottom: 1px solid black;
}

.vertical-border{
    border-right: 1px solid black;
}


/* numpad */
#numpad{
    grid-area: numpad;
    width: 210px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
}

.num{
    width: 56px;
    height: 56px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;

    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num:hover{
    border: 2px solid royalblue;
    color: royalblue;
    cursor: pointer;
}

.delete{
    width: 120px;
    height: 56px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;

    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover{
    border: 2px solid royalblue;
    color: royalblue;
    cursor: pointer;
}

#buttonpad{
    grid-area: button;
    width: 710px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clear{
    width: 190px;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-right: 20px;

    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear:hover{
    border: 2px solid royalblue;
    color: royalblue;
    cursor: pointer;
}

.solve{
    width: 230px;
    height: 70px;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 10px;

    font-size: 30px;
    font-weight: 500;
    color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve:hover{
    border: 2px solid orangered;
    background-color: orangered;
    color: white;
    cursor: pointer;
}

#descr{
    display: none;
    align-items: center;
}